<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link href="https://fonts.googleapis.com/css2?family=Muli:wght@555&display=swap" rel="stylesheet" />
		<title>ProPresenter Notes Teleprompter</title>
		<link rel="stylesheet" type="text/css" href="style.css" />

		<style media="screen"></style>
		<meta charset="UTF-8" />
	</head>

	<body>
		<div id="app" class="prompter mirror">
			<div id="main">
				<div class="current" v-html="makeParas(slides.current.text)"></div>
				<div class="current notes" v-html="slides.current.notes"></div>
				<div class="next" v-html="makeParas(slides.next.text)"></div>
				<div class="next notes" v-html="slides.next.notes"></div>
			</div>
			<div class="timers">
				<div class="timer" :class="{negative: timer.text.match(/^-/)}" v-for="timer in timers" v-if="!timer.text.match(/--/)">
					<div :id="timer.uid" :class="{small: smalls[timer.uid]}" @click="toggle(timer);">{{timer.text}}</div>
				</div>
			</div>
			<div class="message">{{stage_message}}</div>
		</div>

		<script type="text/javascript" src="lib/vue.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

		<!-- main code goes here -->
		<script type="text/javascript">
			let ws;
			let reconnectTime = 3000;
			let reconnectTimer = 0;
			let app = new Vue({
				el: "#app",
				data: {
					slides: { current: {}, next: {} },
					timers: {},
					smalls: {},
					stage_message: "",
				},
				computed: {},
				methods: {
					makeParas(s = "") {
						let items = s.split(/\n/).map((e) => `<p>${e}</p>`);
						return items.join("");
					},
					toggle(timer) {
						if (!this.smalls[timer.uid]) this.smalls[timer.uid] = true;
						else this.smalls[timer.uid] = false;
					},
					getStatus() {
						ws.bettersend("status");
					},

					connect() {
						this.connecting = true;
						console.log("attempting to reconnect to watcher service");

						// connect the websocket
						ws = new WebSocket(`ws://${document.location.host}`);
						ws.bettersend = function (message = "", data = {}) {
							ws.send(JSON.stringify({ message, data }));
						};

						ws.onmessage = (event) => {
							let { message, data } = JSON.parse(event.data);
							console.log(`"${message}" message received`);
							switch (message) {
								case "status":
									this.slides.current = data.pro6_status.slides.current;
									this.slides.next = data.pro6_status.slides.next;
									this.timers = data.pro6_status.timers;
									this.stage_message = data.pro6_status.stage_message;

									break;
							}
							console.log(message);
							console.log(data);
						};
						ws.onclose = (event) => {
							this.connected = false;
							console.log(`disconnected from watcher service... reconnecting in ${reconnectTime / 1000} seconds`);
							reconnectTimer = setTimeout(() => {
								this.connect();
							}, reconnectTime);
						};
						ws.onopen = (event) => {
							this.connected = true;
							this.connecting = false;
							console.log("Connected to watcher service");
							this.getStatus();
						};
					},
					scaleText(forced) {
						// scale text to fit
						let padding = 10;
						let el = document.getElementById("main");
						let targetHeight = window.innerHeight - padding * 2;
						if (!forced && el.offsetHeight <= targetHeight) return;

						el.style.fontSize = "80px";
						var i = 80;
						while (el.offsetHeight > targetHeight) {
							i--;
							// console.log(i);
							el.style.fontSize = `${i}px`;
						}
					},
				},
				updated: function () {
					this.scaleText(true);
				},
				mounted: function () {
					window.addEventListener("resize", () => {
						this.scaleText();
						console.log("resized");
					});
					this.connect();
				},
			});
		</script>
	</body>
</html>
